.leftSidebar {
    flex: 1;
    margin: 0 48px;
    padding: 0;
    height: 100vh;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 36px;
    font-weight: 1000;

}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    color: black;
}

a:active {
    text-decoration: underline;
    color: black;
}